# Игнорировать все файлы
*

!src/main/
!pom.xml
!.mvn/
!.mvn/wrapper/maven-wrapper.jar
!mvnw
!mvnw.cmd


target/

/.idea
/.project
/.classpath
/.settings
*.iml
.DS_Store
.idea/
*.log
*.tmp
*.bak
*.swp
*.swo
*.swn
out/
.vscode/
*.class

*.ipr
*.iws
