<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Изменение данных пользователя</title>
</head>
<body>
<h2>Изменение данных пользователя: </h2>
<form th:method="post" th:action="@{/users/update}" th:object="${user}">
  <input type="hidden" th:name="id" th:value="${user.id}" />
  <label for="name">Имя:</label>
  <input type="text" th:field="*{name}" id="name"/>
  <br><br>
  <label for="email">Эл.почта:</label>
  <input type="text" th:field="*{email}" id="email"/>
  <br><br>
  <input type="submit" value="Обновить"/>
</form>
<br>
<form th:method="post" th:action="@{/users/delete}">
  <input type="hidden" th:name="id" th:value="${user.id}" />
  <input type="submit" value="Удалить пользователя"/>
</form>
<br>
<form th:method="get" th:action="@{/}">
  <input type="submit" value="Отмена"/>
</form>
</body>
</html>
